{% extends "shared/base.html" %}
{% load static %}
{% block content %}
<!-- The Main Content for the Delete Event section -->
<section id="delete-page">
    <div class="form">
        <!-- Title of the Page -->
        <h2>Delete Event</h2>

        <!-- Delete Event Form -->
        <form {% url 'delete_event' pk=event.pk %} method="post">
            {{ form }}
            <!-- Event Name Field -->
            {% csrf_token %}
            <!-- Delete Button -->
            <input class="btn" type="submit" value="Delete">

        </form>
        <!-- End Delete Event Form -->
    </div>
</section>
<!-- End Delete Event section -->
{% endblock %}