 {% extends "shared/base.html" %}
{% load static %}
{% block content %}-->
<section id="edit">
    <div class="form">
        <!-- Title of the Page -->
        <h2>Edit Event</h2>

        <!-- Edit Event Form -->
        <form class="edit-form" {% url 'edit_event' pk=event.pk %} method="post">

            <!-- Event Name Field -->
            <label for="name"{{ events.event_name }}></label>
            {{ form }}
          {% csrf_token %}
            <!-- Edit Button -->
            <input class="btn" type="submit" value="Edit">

        </form>
        <!-- End Edit Event Form -->
    </div>
</section>
<!-- End Edit Event section -->
{% endblock %}